.wrapper {
    height: 100%;
    width: 100wh;
    text-align: center;
    vertical-align: middle;
}

#dragBlock {
    position: absolute;
    top: 20px;
    left: 45%;
    cursor: pointer;
}
.dragProto {
    width: 100px;
    height:100px;
    background-color: cornflowerblue;
}
.cellPos {
    position: absolute;
}
#savePos {

    left: 3%;
    background-color: aqua;
}

#saveCell {
    right: 3%;
    background-color: brown;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    content: 'Сохраню в ячейку';
}

.container {
    position: absolute;
    top: 200px;
    height: 300px;
    min-width: 600px;
    width: 45%;
}